/* reset from https://www.joshwcomeau.com/css/custom-css-reset/ */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  max-width: 100%;
  overflow-x: hidden;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* end reset */

h1 {
  color: inherit;
}

html {
  background-color: #f3f0ec;
  --blob-1-size: clamp(50px, 70vw, 1000px);
}

body {
  font-size: 1.6rem;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  position: relative;
}

#app {
  position: relative;
  min-height: 100%;
}

p + p {
  margin-top: 1rem;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: darkred;
  transition: 0.4s;
}

a:hover,
a:focus {
  color: navy;
}

.ra {
  display: inline-block;
  transition: 0.4s;
}

a:hover .ra,
a:focus .ra {
  transform: translateX(5px);
}

.sr-text {
  opacity: 0;
  height: 0;
  position: absolute;
  pointer-events: none;
}

.background-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  animation: bg-entry 1s both;
}

@keyframes bg-entry {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.blob-1 {
  position: absolute;
  top: calc(-0.3 * var(--blob-1-size));
  left: calc(-0.4 * var(--blob-1-size));
  width: var(--blob-1-size);
  height: auto;
}

.blob-2 {
  --size: clamp(50px, 60vw, 800px);
  position: absolute;
  bottom: 0;
  right: 0;
  width: var(--size);
  height: auto;
}

.noise {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      to top,
      rgba(194, 166, 80, 0.336),
      rgba(0, 0, 0, 0)
    ),
    url(/img/noise.svg);
  opacity: 0.8;
}

.script-intro {
  mix-blend-mode: darken;
  opacity: 0.9;
  margin: 40px 0;
}

.script-intro svg {
  width: 100%;
  height: auto;
}

.stroke-path {
  stroke-dasharray: 4000px;
  stroke-dashoffset: 4000px;
  animation: script-entry 2s 0.1s ease-out 1 both;
  opacity: 0;
}

@keyframes script-entry {
  0% {
    stroke-dashoffset: 4000px;
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  100% {
    stroke-dashoffset: 0px;
    opacity: 1;
  }
}
.content {
  display: grid;
  place-content: center;
  max-width: 1000px;
  margin: auto;
  padding: 2rem;
  padding-top: calc(var(--blob-1-size) * 0.3);
  padding-bottom: calc(var(--blob-1-size) * 0.4);
  min-height: calc(100vh - var(--blob-1-size) * 0.4);
}

.invite-text {
  max-width: 90ch;
  margin: auto;
  font-size: max(2.8rem, 38px);
}

@media (min-width: 900px) {
  .invite-text {
    font-size: 2rem;
  }
}
